<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IYB_App"
        tools:targetApi="31">
        <activity
            android:name=".Listview"
            android:exported="false" />
        <activity
            android:name=".BudgetSetup"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LogsManager"
            android:exported="false" />
        <activity
            android:name=".GraphAnalytics"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".SetUpInstruction"
            android:exported="false" />
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".NewUser"
            android:exported="false"
            android:finishOnTaskLaunch="true" />
        <activity
            android:name=".StartUp"
            android:exported="true"
            android:theme="@style/Theme.IYB_App.MySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>